.button-24 {
    background: #6bbf8a;
    border: 1px solid #4b9b6e;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 27px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
    background-color: #4b9b6e;
    background-position: 0 0;
    color: rgba(255, 255, 255, 0.68);
}

.button-24:active {
    opacity: .5;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
body {
    padding-top: 70px;
}

/* Aggiungere questo al CSS esistente */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Rende la pagina alta quanto la finestra del browser */
    width: 100%;
}
