.content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23F2F2F2' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23F2F2F2' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.new-psychotherapist-header{
    text-align: center;
}

.container {
    max-width: 900px;
    text-align: center;
}
.title {
    font-size: 2.5em;
    font-weight: bold;
    color: #4F46E5;
    margin-top: 50px;
}

.psychotherapists-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding: 5% 12%;
}


.psychotherapist-card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    text-align: left;
    cursor: pointer;
}

.psychotherapist-card:hover {
    transform: scale(1.05);
    background-color: rgba(79, 70, 229, 0.68);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.psychotherapist-card:hover {
    transform: translateY(-5px);
}
.icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.info-container {
    display: flex;
    align-items: center;
    position: relative;
}

.click-message {
    margin-left: 15px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
}

.psychotherapist-card:hover .click-message {
    opacity: 1;
}

.info{
    width: 100%;
    text-align: center;
}

h2{
    align-self: flex-start;
}