.content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #F5F5F5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23cccccc' fill-opacity='0.04'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

.patient-chat-header{
    text-align: center;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
    color: #4F46E5;
    margin-top: 30px;
}

.card {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
}
.day, .day-name {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    min-width: 40px;
}
.day-name {
    background-color: rgba(255, 255, 255, 0.2);
}
.btn {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}
.calendar-grid::-webkit-scrollbar {
    height: 8px;
}
.calendar-grid::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}
.calendar-grid::-webkit-scrollbar-track {
    background-color: transparent;
}
.modal-header{
    background-color: #607D8B;
}

.modal-header .modal-title{
    color: white;
}

.btn-primary {
    background-color: #6bbf8a !important;
    color: white !important;
}

.btn-secondary {
    background-color: #6c757d !important;
    color: white !important;
}

input:focus, textarea:focus {
    outline: none !important;
    border-color: #4b9b6e !important;
    box-shadow: 0 0 5px rgba(75, 155, 110, 0.5) !important;
}



@media (max-width: 900px) {
    .day, .day-name {
        padding: 12px;
    }
}
@media (max-width: 768px) {
    .day, .day-name {
        padding: 10px;
        font-size: 12px;
    }
}
@media (max-width: 600px) {
    .calendar-container {
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: thin;
        scrollbar-color: #ccc transparent;
    }

    .calendar-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 10px;
        min-width: 600px;
    }

    .calendar-container::-webkit-scrollbar {
        height: 8px;
    }
    .calendar-container::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }
    .calendar-container::-webkit-scrollbar-track {
        background-color: transparent;
    }
}




