.content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #F5F5F5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23F2F2F2' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23F2F2F2' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}
.psychotherapist-chat-header{
    text-align: center;
}
.container {
    max-width: 900px;
    text-align: center;
}
.title {
    font-size: 2.5em;
    font-weight: bold;
    color: #4F46E5;
    margin-top: 50px;
}
.icon {
    width: 90px;
    height: 90px;
    border-radius: 20%;
    object-fit: cover;
}
.card {
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
}
input:focus, textarea:focus {
    outline: none !important;
    border-color: #4b9b6e !important;
    box-shadow: 0 0 5px rgba(75, 155, 110, 0.5) !important;
}
#sendMessageButton{
    background-color: #4F46E5;
}
#sendMessageButton i {
    color: white !important;
    transition: color 0s;
}