.content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #F5F5F5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23F2F2F2' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23F2F2F2' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.patients-header{
    text-align: center;
}

.container {
    max-width: 900px;
    text-align: center;
}
.title {
    font-size: 2.5em;
    font-weight: bold;
    color: #4F46E5;
    margin-top: 50px;
}

.icon {
    width: 90px;
    height: 90px;
    border-radius: 20%;
    object-fit: cover;
}
.card {
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.card-body {
    max-height: 60vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
}
.day, .day-name {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    min-width: 40px;
}
.day-name {
    background-color: rgba(255, 255, 255, 0.2);
}
.calendar-grid::-webkit-scrollbar {
    height: 8px;
}
.calendar-grid::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}
.calendar-grid::-webkit-scrollbar-track {
    background-color: transparent;
}
.past-day {
    color: white;
    opacity: 0.5;
}
.current-day {
    border: 2px solid white;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
}
.appointment-day {
    background-color: rgba(255, 0, 0, 0.3) !important;
    color: white !important;
    font-weight: bold;
    cursor: pointer;
}
.modal-header{
    background-color: #607D8B;
}
.modal-header .modal-title{
    color: white;
}
#sendMessageButton{
    background-color: #4F46E5;
}
#sendMessageButton i {
    color: white !important;
    transition: color 0s;
}
#sendMessageButton:active i {
    color: white !important;
}
#sendMessageButton:hover i{
    color: rgba(255, 255, 255, 0.66) !important;
}
#saveAppointmentButton{
    background-color: #6bbf8a;
    border-color: #4b9b6e;
}
#saveAppointmentButton:hover{
    background-color: #4b9b6e !important;
}

#saveAppointmentButton, #closeAppointmentButton {
    font-size: 16px;
}
#closeAppointmentButton:hover{
    background-color: #5a6268 !important;
}