<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>New Psychotherapist</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/styles/new-psychotherapist.css">
    </head>
    <body>
        <div th:insert="~{fragments/navbar :: navbar}"></div>
            <div class="content">
                <div class="psychotherapists" style="width: 100%;">
                    <div class="new-psychotherapist-header">
                        <h1 class="title">Choose your psychotherapist</h1>
                    </div>
                    <div class="psychotherapists-grid">
                        <div class="psychotherapist-card" th:each="psychotherapist: ${psychotherapists}">
                            <img th:if="${psychotherapist.gender == 'Male'}" th:src="@{/images/avatar/male.jpg}" alt="Male Image" class="icon">
                            <img th:if="${psychotherapist.gender == 'Female'}" th:src="@{/images/avatar/female.jpg}" alt="Female Image" class="icon">
                            <div>
                                <h2 th:text="${psychotherapist.firstName} + ' ' + ${psychotherapist.lastName}"></h2>
                                <p style="text-align: justify" th:text="${psychotherapist.email}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div th:insert="~{fragments/footer :: footer}"></div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>